@tailwind base;
@tailwind components;
@tailwind utilities;

/********* Global Styles *********/

/*** Global variables ***/
:root {
  --dark-background-color: '#231F20',
  --dark-lighter-background-color: '#363133',
  --dark-text-color: '#FFFFFA',
  --light-background-color: '#eeeeee',
  --light-darker-background-color: '#dddddd',
  --green-accent-color: '#2A7221',
  --purple-accent-color: '#998FC7',
  --blue-accent-color: '#788AA3'
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
