/** Styles for navigation links */
.a {
    transition: all 0.3s;
    @apply text-2xl font-semibold text-darker-green;
}
.a:hover {
    text-decoration: none;
    @apply text-darker-green;
}
.a::after {
    position: relative;
    content: '';
    display: block;
    width: 1ch;
    height: 2px;
    transition: width 0.3s;
    @apply bg-darker-green;
}
.a:hover::after {
    width: 100%;
}